* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(255, 220, 227);
  width: 100vw;
  height: 100vh;
  background-image: url(https://dqbwi98pfk3t.cloudfront.net/Common/LandingPages/login_background_hairsalon.jpg);
}
.ant-modal-close {
  color: #fff !important;
}

@media screen and (max-width: 1024px) {
  /* hi-res laptops and desktops */
  #select_container {
    flex-direction: column !important;
    width: 80vw;
    gap: 5;
  }
  #description_chart {
    font-size: 0.5rem;
  }
}
